@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
:root {
  --dark1: #2c2c2c;
  --dark2: #3d3d3d;
  --light1: #fff;
  --light2: #dddd;
  --accent: #6657a6;
  --gap: 0.5rem;
  --words-col: clamp(3rem, 15vw, 3.5rem);
  --keys-col: minmax(8%, 3rem);
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
  background-color: var(--dark1);
  color: var(--light1);
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  place-content: center;
}

.word-box {
  grid-template-columns: repeat(5, var(--words-col));
  grid-template-rows: var(--words-col);
  gap: var(--gap);
  margin: var(--gap) 0;
}

.indiv-box {
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  background-color: var(--light1);
  color: var(--dark2);
}

.error {
  color: #f36767;
  font-size: 0.8rem;
  display: block;
  text-align: center;
}

.hidden {
  display: none;
}

.keyboard {
  display: grid;
  gap: 0.2rem;
  z-index: 0;
}

.keys {
  max-width: 60rem;
  grid-template-rows: 2.9rem;
  gap: 0.2rem;
  margin-inline: auto;
}

.keys span:hover {
  cursor: pointer;
}

.indiv-key {
  font-size: 1rem;
  text-transform: capitalize;
  background-color: var(--light1);
  color: var(--dark2);
  border-radius: 0.3rem;
}

.keys-row-1 {
  grid-template-columns: repeat(11, var(--keys-col));
}

.keys-row-2 {
  grid-template-columns: repeat(10, var(--keys-col));
}

.keys-row-3 {
  grid-template-columns: repeat(8, var(--keys-col));
}

.isMatch {
  background-color: #65a363;
  transition: background-color 0.5s ease;
}

.isMisplaced {
  background-color: #c6b455;
  transition: background-color 0.5s ease;
}

.isWrong {
  background-color: #777e7f;
  transition: background-color 0.5s ease;
}

.evaluated {
  color: white;
  animation: flipAnimation 0.5s;
}

@keyframes flipAnimation {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.backdrop {
  background-color: rgba(44, 44, 44, 0.3);
  display: none;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-shown {
  display: grid;
}

.modal {
  max-width: 80%;
  background-color: var(--dark1);
  color: var(--light2);
  padding: 2rem clamp(1rem, 5vw, 3rem);
  display: grid;
  place-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  border: 2px solid var(--light1);
  position: relative;
}

.modal p {
  text-align: center;
}

.modal a {
  text-decoration: none;
  color: var(--light1);
}

.modal-buttons {
  display: flex;
  gap: 0.5rem;
}

.modal-buttons button {
  padding: 0.4rem 0.8rem;
  border: none;
  color: white;
  font-family: var(--poppins);
  transition: padding 0.5s ease;
  border-radius: 0.3rem;
}

.modal-buttons button:hover {
  cursor: pointer;
  padding: 0.6rem 1rem;
  transition: padding 0.5s ease;
}

svg {
  vertical-align: middle;
}

.modal-buttons button:nth-child(1) {
  background-color: #6657a6;
}

.modal-buttons button:nth-child(2) {
  background-color: var(--dark2);
}

.github-container {
  position: absolute;
  bottom: 0.2rem;
}

.modal-correct {
  color: #65a363;
}

.modal-wrong {
  color: #f36767;
}
