@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: darkslategray;
  color: white;
}

.word-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indiv-box {
  display: flex;
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.isMatch {
  background-color: #65a363;
}
.isMisplaced {
  background-color: #c6b455;
}
.isWrong {
  background-color: #777e7f;
}

.evaluated {
  color: white;
}
