@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
:root {
  --dark1: #2c2c2c;
  --dark2: #3d3d3d;
  --light1: #fff;
  --light2: #dddd;
  --accent: #6657a6;
  --gap: 0.5rem;
  --words-col: clamp(3rem, 15vw, 3.5rem);
  --keys-col: minmax(8%, 3rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark1);
  color: var(--light1);
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  place-content: center;
}

.word-box {
  grid-template-columns: repeat(5, var(--words-col));
  grid-template-rows: var(--words-col);
  gap: var(--gap);
  margin: var(--gap) 0;
}

.indiv-box {
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  background-color: var(--light1);
  color: var(--dark2);
}

.error {
  color: rgb(243, 103, 103);
  font-size: 0.8rem;
  display: block;
  text-align: center;
}

.hidden {
  display: none;
}

.keys {
  max-width: 60rem;
  grid-template-rows: 2.9rem;
  gap: 0.2rem;
  margin: var(--gap) 0;
  margin-inline: auto;
}

.indiv-key {
  font-size: 1rem;
  text-transform: capitalize;
  background-color: var(--light1);
  color: var(--dark2);
}

.keys-row-1 {
  grid-template-columns: repeat(11, var(--keys-col));
}

.keys-row-2 {
  grid-template-columns: repeat(10, var(--keys-col));
}

.keys-row-3 {
  grid-template-columns: repeat(8, var(--keys-col));
}

span {
  transition: background-color 0.5s ease;
}

.isMatch {
  background-color: #65a363;
}

.isMisplaced {
  background-color: #c6b455;
}

.isWrong {
  background-color: #777e7f;
}

.evaluated {
  color: white;
}
